@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  color: black;
}
body.dark {
  background: black;
  color: white;
}

code {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 243 245 / var(--tw-bg-opacity));
  padding: 2px 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(196 121 229 / var(--tw-text-opacity));
}
